@import url('user-activity.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.fancybox__container {
    --fancybox-bg: rgba(81, 68, 68, 0.8) !important;
}

@media print {
    .no-print{
       display: none;
    }
    #accordionSidebar{
        display:none;
    }
  
 }
 